@import 'setup';
@import 'general';
@import 'typography';
@import 'nav';
@import 'footer';


// HEADER STYLE
.blogHead {
    background-image: url('../assets/blog-header.jpg');
    background-size: cover;
    height: 74vh;
    position: relative;
    display: flex;
    flex-direction: column;

}

.blogTitle {
    line-height: 0;
    margin: 0 auto;
    margin-top: 285px;
}

.blogPic {
    height: auto;
    width: clamp(20vw, 56vw, 60vw);
    object-fit: fill;
    box-shadow: -40px 40px 0 0 #FDFA69;
    position: absolute;
    right: 0;
    top: 44%;
}

// MAIN GENERAL STYLE
.mainBlog {
    background-color: #EFFDF3;
}

// BLOG POST STYLE

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 100px);
    gap: 1px;
}

// SIDEBAR STYLE

.sideBar {
    grid-row-start: 1;
    grid-row-end: 9;
    padding-top: 15%;
}

aside {
    width: 600px;
}

.sideBar img {
    height: 100%;
    width: 100%;
}



.sideText {
    background: white;
    height: 900px;
    width: 400px;
    padding: 30px;
    margin-left: 220px;
    padding-top: 65%;
    margin-top: -70%;
}

.sideText h4 {
    margin-bottom: 10px;
    text-align: left;
}

.sideText p {
    text-align: left;
}

.sideText .bold {
    font-weight: bold;
}

.sideText li {
    text-align: left;
}

.sideText li::before {
    content: '\2022';
    padding-right: 1em;
    color: #4ceea7;
}

// BLOG POST STYLE

.blogPost {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 16;
    border-left: 5px solid #FDFA69;
    border-bottom: 5px solid #FDFA69;
    padding: 85px;
    margin-left: -13px;
}

.blogPost p {
    width: 760px;
}

// COMMENT SECTION STYLE

.comments {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 16;
    margin-top: 50px;
}

.comments h3 {
    margin-left: 5%;
}

.Jeremy img,
.Julia img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 60px;
}

.Jeremy,
.Julia {
    display: flex;
    width: 100%;
    margin: 5%;
}

.cmnt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 600px;
    padding: 40px;
}

.comments p {
    width: 620px;
    text-align: left;
}

.commentForm {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 10% 10% 1% 0;
}

.commentForm form {
    width: 100%;
    margin: 0 auto;
}

.commentForm ::placeholder {
    padding: 10px;
    margin: 10px;
}

.commentForm input[type=text],
.commentForm input[type=email] {
    border: none;
    background-color: #effdf3;
    border-bottom: 2px solid #4CEEA7;
    margin-bottom: 5%;
    margin-left: 10px;
    width: 347px;
}

.commentForm textarea {
    border: 2px solid #4CEEA7;
    background-color: #effdf3;
    height: 10em;
    width: 100%;
}

.commentForm button {
    margin-top: 5%;
    width: 100%;
}

// RESPONSIVE STYLING

@media(max-width: 1642px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fill, 348px);
    }
}

@media(max-width: 1522px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fill, 323px);
    }
}

@media(max-width: 1486px) {
    .blogPost {
        padding: 34px;
    }
}

@media(max-width: 1280px) {
    .blogTitle {
        margin-top: 140px;
    }

    .gridContainer {
        grid-template-columns: repeat(auto-fill, 237px);
    }

    .sideBar img {
        width: 67%;
    }

    .sideText {
        height: 815px;
        margin-left: 15px;
        margin-top: -320px;
        padding-top: 300px;
    }

    .blogPost {
        grid-row-start: 3;
        grid-column-end: 6;
        padding: 30px;
        padding-top: 140px;
        margin-left: 31px;
    }

    .blogPost p {
        width: 700px;
    }

    .Jeremy,
    .Julia {
        margin: 0;
    }

    .commentForm input[type=text],
    .commentForm input[type=email] {
        width: 520px;
    }
}

@media(max-width: 1228px) {

    .gridContainer {
        grid-template-columns: repeat(auto-fill, 245px);
    }

    .blogHead {
        display: grid;
    }

    .blogTitle {
        margin-top: 0;
        justify-self: center;
    }

    .blogPic {
        position: static;
        box-shadow: none;
    }

    .sideBar {
        grid-column-start: 1;
        grid-column-end: 6;
        padding: 0;
    }

    aside {
        display: flex;
        justify-content: space-between;
        max-width: 1228px;
        width: 100%;
        background: white;
        height: 51vh;
        margin: 0;
    }

    .sideBar img {
        width: 30%;
    }

    .sideText {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .sideAbt,
    .sideRecent {
        width: 30%;
    }

    .blogPost {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 12;
        padding: 30px;
        margin: 30px;
    }

    .comments {
        grid-column-start: 2;
        grid-row-start: 25;
    }
}

@media(max-width: 940px) {

    .gridContainer {
        grid-template-columns: repeat(auto-fill, 75px);
        grid-template-rows: repeat(auto-fill, 100px);
    }

    // SIDEBAR

    .sideBar {
        display: grid;
        grid-row-start: 50;
        grid-row-end: auto;
        grid-column-start: 1;
        grid-column-end: 14;

    }

    aside {
        height: 57vh;
    }

    .sideBar img {
        width: 50%;
        object-fit: fill;
        padding: 15px;
    }

    .sideText {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .sideText p {
        margin: 0;
    }

    .sideAbt,
    .sideRecent {
        width: auto;
        padding: 10px;
    }

    .sideRecent h4 {
        margin: 0;
    }

    // BLOG

    .blogPost {
        grid-column-start: 3;
        border-left: none;
        border-bottom: 5px solid #FDFA69;
        padding: 0;
        margin: 0 auto;
        width: auto;
    }

    .blogPost h2,
    .blogPost span,
    .blogPost p {
        padding-top: 20px;
    }



    // COMMENTS
}

@media (max-width: 768px) {

    // HEADER

    .blogHead {
        width: 100%;
    }

    .blogTitle {
        padding-top: 10%;
    }

    .blogPic {
        margin: 0 auto;
    }

    // GENERAL

    .gridContainer {
        grid-template-columns: repeat(auto-fill, 150px);
        width: 100%;

    }

    // BLOG

    .blogPost {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-end: 13;
        width: auto;
        margin-left: 10%;
    }

    //  COMMENTS

    .comments {
        grid-column-start: 1;
        grid-row-start: 13;
        margin-top: 5%;
        padding: 30px;
    }

    .comments p {
        width: 550px;

    }

    .commentForm form {
        width: 100%;
        margin-left: 100px;
    }

    .commentForm button {
        margin-top: 0;
    }
}

@media(max-width: 480px) {

    aside {
        height: 100%;
        flex-direction: column;
    }

    .sideBar img {
        width: 100%;
    }

    .sideText {
        width: 96%;
        flex-direction: column;
    }

    .sideAbt,
    .sideRecent {
        width: 70%;
        padding: 20px;
        margin: 0 auto;
    }

    .blogPost {
        margin-left: 0;
    }

    .blogPost p {
        width: 100%;
    }

    // COMMENTS

    .comments {
        margin-top: 0;
    }

    .cmnt {
        width: 100%;
        padding: 0;
        padding-top: 40px;
    }

    .Jeremy,
    .Julia {
        flex-direction: column;
    }

    .Jeremy img,
    .Julia img {
        top: 21px;
        margin: 0 auto;
    }

    .comments p {
        width: 360px;
    }

    .commentForm form {
        width: 360px;
        margin: 0 auto;
    }

    .commentForm input[type=text],
    .commentForm input[type=email] {
        width: 90%;
    }
}