@import 'setup';
@import 'general';
@import 'typography';
@import 'nav';
@import 'footer';

// HEADER STYLING
.contactHead{
    background-image: url(../assets/contact-header.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}


.contactTitle{
    margin: 10%;
    padding-left: 30%;
}

// BODY STYLING
.contactMain{
    background-color: #EFFDF3;
    display: flex;
    height: 80vh;
    padding: 50px 0;
}

// CONTACT STYLING
.contactDetails{
    width: 50%;
    padding-top: 5%;
}

.socialMedia{
    display: flex;
}

.socialMedia i{
    font-size: 1rem;
    margin-left: 30px;
}

// FORM STYLING

.contactForm{
    box-shadow: -40px 40px 0 0 #FDFA69;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 60%;
    height: 80%;
    position: absolute;
    top: 70%;
    right:3%;
}

.contactForm input[type=text]{
    width: 50%;
}

.contactForm input[type=email]{
    width: 50%;
}

.contactForm .inlines{
    display: flex;
    width: 100%;
}

.contactForm input[type=text]{
    margin-right: 50px;
}
.contactForm input[type=text], .contactForm input[type=email]{
    border: none;
    border-bottom: 2px solid #4CEEA7;
    margin-bottom: 40px;
}

.contactForm textarea{
    border: 2px solid #4CEEA7;
}

.contactForm button{
    margin-top: 10px;
}

// RESPONSIVE STYLING

@media(max-width: 940px){
    .contactHead{
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
    }

    .contactTitle{
        margin: 0 auto;
        margin-left: 500px;
        padding: 0;
        padding-top: 10%;
    }

    .contactForm{
        box-shadow: none;
        height: auto;
        width: auto;
        top: 550px;
        right: 0;
        left: 0;
    }

    .contactMain{
        height: auto;
    }

    .contactDetails{
        margin: 0 auto;
        margin-top: 60%;
    }
}

@media (max-width: 768px){
    .contactTitle{
        padding-top: 20%;
        margin-left: 450px;
    }
}

@media(max-width: 480px){
    .contactTitle{
        margin-left: 0;
        padding-right: 20%;
        padding-left: 9%;
        padding-top: 0;
    }

    .contactForm{
        height: 30%;
    }
}