html{
    font-size: 125%;
}

body{
    margin: 0;
    padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    background-color: #4CEEA7;
    padding: 10px;
    border: none;
}

.blogWrap{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
