@import 'general';
@import 'typography';

// HEADER STYLING

header{
    background-image: url('../assets/header-image.jpg');
    height: 100vh;
    background-size: cover;
    background-position: left;
    position: relative;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    padding-top: 2%;
    display: flex;
    width: 100%;
    flex-basis: 500px;
    justify-content: space-evenly;
}


nav a:hover{
    border-bottom: 3px solid #4ceea7;
}

h1{
    text-transform: uppercase;
    padding-top: 30%;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
}

.headerBox{
    height: 70%;
    width: 40%;
    border-left: 40px solid #FDFA69;
    border-top: 40px solid #FDFA69;
    border-bottom: 40px solid #FDFA69;
    position: absolute;
    right: 0;
    top: 40%;
    z-index: 10;
}

// ABOUT STYLING

#about{
    background-color: #EFFDF3;
    height: 80vh;
    padding: 10px 0;
}

.aboutText{
    padding: 200px;
    text-align: center;
}
.aboutText p{
    padding-top: 2%;
    
}

// INFO STYLING

.info{
    position: relative;
    height: 110vh;

}
.unlockPic img{
    width: 40%;
    box-shadow: 40px 40px 0 0 #FDFA69;
    position: absolute;
    left: 0;
    top: -40px;
}

.unlockFlex{
    display: flex;
    justify-content: space-between;
}

.unlockText{
    width: 50%;
    padding-top: 3%;
}

.gear{
    margin-top: 15%;
}

.gearFlex{
    display: flex;
    justify-content: space-between;
}

.gearText{
    width: 50%;
}

.gearText h3{
    text-align: right;
}

.gearText button{
    margin-left: 70%;
    margin-top: 0;
}

.gearPic img{
    width: 40%;
    box-shadow: -40px 40px 0 0 #FDFA69;
    position: absolute;
    right: 0;
    top: 60%;
}

// LINKS STYLING

.links{
    background-color: #EFFDF3;
    padding: 50px 0;
    margin-top: 5%;
}