@import 'general';
@import 'typography';

// HEADER STYLING

header{
    background-image: url('../assets/header-image.jpg');
    height: 100vh;
    background-size: cover;
    background-position: left;
    position: relative;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    padding-top: 2%;
    display: flex;
    width: 100%;
    flex-basis: 500px;
    justify-content: space-evenly;
}


nav a:hover{
    border-bottom: 3px solid #4ceea7;
}

h1{
    text-transform: uppercase;
    padding-top: 25%;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
}

.headerBox{
    height: 70%;
    width: 40%;
    border-left: 40px solid #FDFA69;
    border-top: 40px solid #FDFA69;
    border-bottom: 40px solid #FDFA69;
    position: absolute;
    right: 0;
    top: 40%;
    z-index: 10;
}

// ABOUT STYLING

#about{
    background-color: #EFFDF3;
    height: 80vh;
    padding: 10px 0;
}

.aboutText{
    padding: 200px;
    text-align: center;
}
.aboutText p{
    padding-top: 2%;
    
}

// INFO STYLING

.info{
    position: relative;
}
.unlockPic img{
    width: 40%;
    box-shadow: 40px 40px 0 0 #FDFA69;
    position: absolute;
    left: 0;
    top: -40px;
}

.unlockFlex{
    display: flex;
    justify-content: space-between;
}

.unlockText{
    width: 50%;
    padding-top: 5%;
}

.gear{
    margin-top: 15%;
}

.gearFlex{
    display: flex;
    justify-content: space-between;
}

.gearText{
    width: 50%;
}

.gearText h3{
    text-align: right;
}

.gearText button{
    margin-left: 70%;
    margin-top: 0;
}

.gearPic img{
    width: 40%;
    box-shadow: -40px 40px 0 0 #FDFA69;
    position: absolute;
    right: 0;
    top: 60%;
}

// LINKS STYLING

.links{
    background-color: #EFFDF3;
    padding: 50px 0;
    margin-top: 5%;
}

.links .fas{
    font-size: 2rem;
    background-color: #4ceea7;
    padding: 15px;
    border-radius: 50%;
}

.linksFlex{
    display: flex;
    flex-wrap: wrap;
}

.picks, .community, .blog, .touch{
    width: 50%;
    padding-bottom: 5%;
}

.links h4{
    // text-align: center;
}

.topLine{
    // display: inline
}

// BANNER STYLING

.banner img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

// PROFILE STYLING

.profile{
    background-color: #EFFDF3;
    padding: 100px 0;
}

.profileFlex{
    display: flex;

}

.profilePic{
    width: 50%;
}

.profilePic img{
    box-shadow: 40px 40px 0 0 #FDFA69;

}

.profileText{
    width: 50%;
}

// GALLERY STYLING

.gallery .wrapper{
    padding-left: 5px;
    padding-right: 5px;
}
.gallery ul{
    display: flex;
    padding-top: 5%;
    margin-left: 5px;
    margin-right: 5px;
}

.gallery li{
    width: calc(100% / 3 - 10px);
    padding-left: 5px;
    padding-right: 5px;
}

footer{
    background-color: black;
}

footer p{
    color: white;
    text-align: center;
}

