@import 'setup';
@import 'general';
@import 'typography';
@import 'nav';
@import 'footer';

// HEADER STYLING

.homeHead {
    background-image: url('../assets/header-image.jpg');
    height: 95vh;
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: left;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeTitle {
    text-transform: uppercase;
    z-index: 20;
    margin: 80px;
}

.headerBox {
    height: 84%;
    width: 45%;
    object-fit: fill;
    border-left: 40px solid #FDFA69;
    border-top: 40px solid #FDFA69;
    border-bottom: 40px solid #FDFA69;
    position: absolute;
    right: 0;
    top: 304px;
    z-index: 10;
}

// ABOUT STYLING

#about {

    background-color: #EFFDF3;
    padding: 0;
    margin-top: 0;
}

.aboutText {
    padding: 200px;
    text-align: center;
}

.aboutText p {
    padding-top: 2%;

}

// INFO STYLING

.info {
    position: relative;
    background: white;
}

.unlockPic img {
    width: 40%;
    box-shadow: 40px 40px 0 0 #FDFA69;
    position: absolute;
    left: 0;
    top: -40px;
}

.unlockFlex {
    display: flex;
    justify-content: space-between;
}

.unlockText {
    width: 50%;
    padding-top: 5%;
}

.gear {
    margin-top: 15%;
}

.gearFlex {
    display: flex;
    justify-content: space-between;
}

.gearText {
    width: 50%;
}

.gearText h3 {
    text-align: right;
}

.gearText button {
    margin-left: 70%;
    margin-top: 0;
}

.gearPic img {
    width: 40%;
    box-shadow: -40px 40px 0 0 #FDFA69;
    position: absolute;
    right: 0;
    top: 65%;
}

// LINKS STYLING

.links {
    background-color: #EFFDF3;
    padding: 50px 0;
    margin-top: 5%;
}

.links .fas {
    font-size: 1.5rem;
    background-color: #4ceea7;
    padding: 15px;
    border-radius: 50%;
    position: relative;
    top: 90px;
    right: 70px;
}

.linksFlex {
    display: flex;
    flex-wrap: wrap;
}

.picks,
.community,
.blog,
.touch {
    width: 50%;
    padding: 5%;
    padding-bottom: 5%;
}

// BANNER STYLING

.banner {
    height: 55vh;
}

.banner img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

// PROFILE STYLING

.profile {
    background-color: #EFFDF3;
    padding: 100px 0;
    margin: 0;
}

.profileFlex {
    display: flex;
    flex-basis: 100%;
}

.profilePic {
    width: 40%;
}

.profilePic img {
    box-shadow: 40px 40px 0 0 #FDFA69;
}

.profileText {
    width: 60%;
    margin-left: 2%;
}

// GALLERY STYLING

.gallery {
    background: white;
}

.gallery ul {
    display: flex;
    padding: 5% 0;
}

.gallery li {
    width: calc(100% / 3);
    margin: 10px;
}


// RESPONSIVE STYLING

@media (max-width: 940px) {
    // HEADER

    .homeHead {
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
    }

    .homeTitle {
        left: 150px;
    }

    .headerBox {
        display: none;
    }

    // ABOUT

    .aboutText {
        padding: 10%;
    }

    // INFO

    .unlockPic img {
        top: 40px;
    }

    .gearPic img {
        top: 60%;
    }

    .gearText button {
        margin-left: 50%;
        margin-top: 0;
    }

    // LINKS

    .links .fas {
        font-size: 1.5rem;
    }

    // PROFILE

    .profilePic {
        width: 40%;
    }

    .profileText {
        margin-left: 8%;
    }
}

@media (max-width: 768px) {

    // HEADER
    .homeTitle {
        margin-left: 9%;
    }

    // INFO

    .gearText h3 {
        text-align: left;
    }

    .gearText button {
        margin-left: 0;
    }

    // LINKS

    .links .fas {
        font-size: 1.3rem;
        right: 0;
        top: 0;
    }
}

@media (max-width: 480px) {

    // HEADER

    .homeHead {
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .homeTitle {
        margin-left: 0;
    }

    // INFO

    .unlockPic img {
        width: auto;
        box-shadow: none;
        left: 0;
        right: 0;
        margin-top: 2%;
    }

    .unlockText {
        width: 100%;
        margin-top: 85%;
    }

    .gearPic img {
        width: auto;
        box-shadow: none;
        left: 0;
        right: 0;
        top: 55%;
    }

    .gearText {
        width: 100%;
        margin-top: 85%;
    }

    // LINKS

    .links p {
        visibility: hidden;
    }

    .linksFlex {
        flex-direction: column;
        justify-content: center;
    }

    .picks,
    .community,
    .blog,
    .touch {
        width: auto;
        padding: 0;
        padding-bottom: 0;
        text-align: center;
    }

    // PROFILE

    .profileFlex {
        flex-wrap: wrap;
        flex: 1 0 auto;
    }

    .profilePic {
        width: 100%;
        margin-left: 80px;
    }

    .profilePic img {
        box-shadow: none;
    }

    .profileText {
        width: 100%;
        text-align: center;
    }

    // GALLERY

    .gallery {
        background-color: #4ceea7;
    }

    .gallery ul {
        display: flex;
        flex-basis: 480px;
        flex-wrap: wrap;
        flex: 1 0 auto;
        padding: 5% 0;
    }

    .gallery li {
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }

    .gallery li:last-of-type {
        width: 100%;
    }
}