@import 'general';
@import 'typography';

nav{
    display: flex;
    margin-right: 8%;
}

nav ul{
    padding-top: 1%;
    display: flex;
    width: 100%;
    flex-basis: 550px;
    flex: 1 0 auto;
    justify-content: flex-end;
}

nav ul li{
    margin-left: 5%;
}
nav a:hover,
nav a:focus,
nav a:focus-within{
    border-bottom: 3px solid #4ceea7;
}

nav i{
  font-size: 2.5rem;
  position: absolute;
  right: 50px;
  top: 20px;
  visibility: hidden;
}

// RESPONSIVE STYLING
@media (max-width: 768px){
    nav i{
        visibility: visible;
    }

    nav ul{
        display: none;
    }
}