@import 'general';
@import 'typography';

nav {
    display: flex;
    width: 92%;
}

nav ul {
    padding-top: 1%;
    display: flex;
    width: 100%;
    flex-basis: 550px;
    flex: 1 0 auto;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 2%;
}

nav a:hover,
nav a:focus,
nav a:focus-within {
    border-bottom: 3px solid #4ceea7;
}

nav i {
    font-size: 2.5rem;
    position: absolute;
    right: 50px;
    top: 20px;
    visibility: hidden;
    cursor: pointer;
}

.toggle {
    z-index: 2;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
    opacity: 0;
}

.mobileMenu {
    background-color: #EFFDF3;
    width: 0%;
    height: 25vh;
    transition: all 0.4s ease-in-out;
}

.toggle:checked~.mobileMenu {
    width: 50%;
}

.mobileMenu ul {
    display: flex;
    flex-direction: column;
    position: static;
    padding: 35px;
    visibility: hidden;
}

.toggle:checked~.mobileMenu ul {
    transition: visibility 0.4s ease-in-out;
    transition-delay: 0.1s;
    visibility: visible;
}

// RESPONSIVE STYLING
@media (max-width: 768px) {
    nav i {
        visibility: visible;
    }

    nav ul {
        display: none;
    }
}