@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

.blogWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
nav,
button,
.contactEmail,
.responsiveNav ul {
  font-family: "Playfair Display", serif;
  color: black;
}

nav,
h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

.homeTitle {
  font-size: 6.9rem;
  text-align: center;
}

.contactTitle,
.blogTitle {
  font-size: 4rem;
  line-height: 92px;
}

.contactEmail {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.whatIs,
.profileTitle,
.locations {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav,
.sideText ul,
.sideText p,
.responsiveNav ul {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

@media (max-width: 940px) {
  .homeTitle {
    font-size: 5.8rem;
  }
  .linksFlex p {
    font-size: 0.9rem;
  }
  .profileTitle {
    font-size: 1.9rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .contactTitle {
    font-size: 3.5rem;
  }
  .blogTitle {
    font-size: 3rem;
  }
  .sideText h4,
  .blogPost h2 {
    font-size: 1.4rem;
  }
  .sideText p,
  .sideText ul {
    font-size: 0.8rem;
  }
  .blogPost p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 4.9rem;
  }
  .links h4 {
    font-size: 1.4rem;
  }
  .contactTitle {
    font-size: 2.8rem;
  }
  .blogTitle {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .homeTitle {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 2.5rem;
  }
}
html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

.blogWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
nav,
button,
.contactEmail,
.responsiveNav ul {
  font-family: "Playfair Display", serif;
  color: black;
}

nav,
h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

.homeTitle {
  font-size: 6.9rem;
  text-align: center;
}

.contactTitle,
.blogTitle {
  font-size: 4rem;
  line-height: 92px;
}

.contactEmail {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.whatIs,
.profileTitle,
.locations {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav,
.sideText ul,
.sideText p,
.responsiveNav ul {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

@media (max-width: 940px) {
  .homeTitle {
    font-size: 5.8rem;
  }
  .linksFlex p {
    font-size: 0.9rem;
  }
  .profileTitle {
    font-size: 1.9rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .contactTitle {
    font-size: 3.5rem;
  }
  .blogTitle {
    font-size: 3rem;
  }
  .sideText h4,
  .blogPost h2 {
    font-size: 1.4rem;
  }
  .sideText p,
  .sideText ul {
    font-size: 0.8rem;
  }
  .blogPost p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 4.9rem;
  }
  .links h4 {
    font-size: 1.4rem;
  }
  .contactTitle {
    font-size: 2.8rem;
  }
  .blogTitle {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .homeTitle {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 2.5rem;
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8%;
}

nav ul {
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 550px;
      flex-basis: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  margin-left: 5%;
}

nav a:hover,
nav a:focus,
nav a:focus-within {
  border-bottom: 3px solid #4ceea7;
}

nav i {
  font-size: 2.5rem;
  position: absolute;
  right: 50px;
  top: 20px;
  visibility: hidden;
}

@media (max-width: 768px) {
  nav i {
    visibility: visible;
  }
  nav ul {
    display: none;
  }
}
footer {
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
  margin: 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

.blogWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
nav,
button,
.contactEmail,
.responsiveNav ul {
  font-family: "Playfair Display", serif;
  color: black;
}

nav,
h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

.homeTitle {
  font-size: 6.9rem;
  text-align: center;
}

.contactTitle,
.blogTitle {
  font-size: 4rem;
  line-height: 92px;
}

.contactEmail {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.whatIs,
.profileTitle,
.locations {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav,
.sideText ul,
.sideText p,
.responsiveNav ul {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

@media (max-width: 940px) {
  .homeTitle {
    font-size: 5.8rem;
  }
  .linksFlex p {
    font-size: 0.9rem;
  }
  .profileTitle {
    font-size: 1.9rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .contactTitle {
    font-size: 3.5rem;
  }
  .blogTitle {
    font-size: 3rem;
  }
  .sideText h4,
  .blogPost h2 {
    font-size: 1.4rem;
  }
  .sideText p,
  .sideText ul {
    font-size: 0.8rem;
  }
  .blogPost p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 4.9rem;
  }
  .links h4 {
    font-size: 1.4rem;
  }
  .contactTitle {
    font-size: 2.8rem;
  }
  .blogTitle {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .homeTitle {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 2.5rem;
  }
}
html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

.blogWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
nav,
button,
.contactEmail,
.responsiveNav ul {
  font-family: "Playfair Display", serif;
  color: black;
}

nav,
h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

.homeTitle {
  font-size: 6.9rem;
  text-align: center;
}

.contactTitle,
.blogTitle {
  font-size: 4rem;
  line-height: 92px;
}

.contactEmail {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.whatIs,
.profileTitle,
.locations {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav,
.sideText ul,
.sideText p,
.responsiveNav ul {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

@media (max-width: 940px) {
  .homeTitle {
    font-size: 5.8rem;
  }
  .linksFlex p {
    font-size: 0.9rem;
  }
  .profileTitle {
    font-size: 1.9rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .contactTitle {
    font-size: 3.5rem;
  }
  .blogTitle {
    font-size: 3rem;
  }
  .sideText h4,
  .blogPost h2 {
    font-size: 1.4rem;
  }
  .sideText p,
  .sideText ul {
    font-size: 0.8rem;
  }
  .blogPost p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 4.9rem;
  }
  .links h4 {
    font-size: 1.4rem;
  }
  .contactTitle {
    font-size: 2.8rem;
  }
  .blogTitle {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .homeTitle {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 2.5rem;
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8%;
}

nav ul {
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 550px;
      flex-basis: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  margin-left: 5%;
}

nav a:hover,
nav a:focus,
nav a:focus-within {
  border-bottom: 3px solid #4ceea7;
}

nav i {
  font-size: 2.5rem;
  position: absolute;
  right: 50px;
  top: 20px;
  visibility: hidden;
}

@media (max-width: 768px) {
  nav i {
    visibility: visible;
  }
  nav ul {
    display: none;
  }
}
footer {
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
  margin: 0;
}

.homeHead {
  background-image: url("../assets/header-image.jpg");
  height: 95vh;
  background-size: cover;
  background-position: left;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeTitle {
  text-transform: uppercase;
  z-index: 20;
  margin: 80px;
}

.headerBox {
  height: 84%;
  width: 45%;
  -o-object-fit: fill;
     object-fit: fill;
  border-left: 40px solid #FDFA69;
  border-top: 40px solid #FDFA69;
  border-bottom: 40px solid #FDFA69;
  position: absolute;
  right: 0;
  top: 304px;
  z-index: 10;
}

#about {
  background-color: #EFFDF3;
  padding: 0;
  margin-top: 0;
}

.aboutText {
  padding: 200px;
  text-align: center;
}

.aboutText p {
  padding-top: 2%;
}

.info {
  position: relative;
  background: white;
}

.unlockPic img {
  width: 40%;
  -webkit-box-shadow: 40px 40px 0 0 #FDFA69;
          box-shadow: 40px 40px 0 0 #FDFA69;
  position: absolute;
  left: 0;
  top: -40px;
}

.unlockFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.unlockText {
  width: 50%;
  padding-top: 5%;
}

.gear {
  margin-top: 15%;
}

.gearFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gearText {
  width: 50%;
}

.gearText h3 {
  text-align: right;
}

.gearText button {
  margin-left: 70%;
  margin-top: 0;
}

.gearPic img {
  width: 40%;
  -webkit-box-shadow: -40px 40px 0 0 #FDFA69;
          box-shadow: -40px 40px 0 0 #FDFA69;
  position: absolute;
  right: 0;
  top: 65%;
}

.links {
  background-color: #EFFDF3;
  padding: 50px 0;
  margin-top: 5%;
}

.links .fas {
  font-size: 1.5rem;
  background-color: #4ceea7;
  padding: 15px;
  border-radius: 50%;
  position: relative;
  top: 90px;
  right: 70px;
}

.linksFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.picks,
.community,
.blog,
.touch {
  width: 50%;
  padding: 5%;
  padding-bottom: 5%;
}

.banner {
  height: 55vh;
}

.banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.profile {
  background-color: #EFFDF3;
  padding: 100px 0;
  margin: 0;
}

.profileFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.profilePic {
  width: 40%;
}

.profilePic img {
  -webkit-box-shadow: 40px 40px 0 0 #FDFA69;
          box-shadow: 40px 40px 0 0 #FDFA69;
}

.profileText {
  width: 60%;
  margin-left: 2%;
}

.gallery {
  background: white;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
}

.gallery li {
  width: 33.3333333333%;
  margin: 10px;
}

@media (max-width: 940px) {
  .homeHead {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
  }
  .homeTitle {
    left: 150px;
  }
  .headerBox {
    display: none;
  }
  .aboutText {
    padding: 10%;
  }
  .unlockPic img {
    top: 40px;
  }
  .gearPic img {
    top: 60%;
  }
  .gearText button {
    margin-left: 50%;
    margin-top: 0;
  }
  .links .fas {
    font-size: 1.5rem;
  }
  .profilePic {
    width: 40%;
  }
  .profileText {
    margin-left: 8%;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    margin-left: 9%;
  }
  .gearText h3 {
    text-align: left;
  }
  .gearText button {
    margin-left: 0;
  }
  .links .fas {
    font-size: 1.3rem;
    right: 0;
    top: 0;
  }
}
@media (max-width: 480px) {
  .homeHead {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .homeTitle {
    margin-left: 0;
  }
  .unlockPic img {
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    left: 0;
    right: 0;
    margin-top: 2%;
  }
  .unlockText {
    width: 100%;
    margin-top: 85%;
  }
  .gearPic img {
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    left: 0;
    right: 0;
    top: 55%;
  }
  .gearText {
    width: 100%;
    margin-top: 85%;
  }
  .links p {
    visibility: hidden;
  }
  .linksFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .picks,
  .community,
  .blog,
  .touch {
    width: auto;
    padding: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .profileFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .profilePic {
    width: 100%;
    margin-left: 80px;
  }
  .profilePic img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .profileText {
    width: 100%;
    text-align: center;
  }
  .gallery {
    background-color: #4ceea7;
  }
  .gallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 480px;
        flex-basis: 480px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding: 5% 0;
  }
  .gallery li {
    width: calc(50% - 20px);
    margin: 10px;
  }
  .gallery li:last-of-type {
    width: 100%;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

.blogWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
nav,
button,
.contactEmail,
.responsiveNav ul {
  font-family: "Playfair Display", serif;
  color: black;
}

nav,
h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

.homeTitle {
  font-size: 6.9rem;
  text-align: center;
}

.contactTitle,
.blogTitle {
  font-size: 4rem;
  line-height: 92px;
}

.contactEmail {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.whatIs,
.profileTitle,
.locations {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav,
.sideText ul,
.sideText p,
.responsiveNav ul {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

@media (max-width: 940px) {
  .homeTitle {
    font-size: 5.8rem;
  }
  .linksFlex p {
    font-size: 0.9rem;
  }
  .profileTitle {
    font-size: 1.9rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .contactTitle {
    font-size: 3.5rem;
  }
  .blogTitle {
    font-size: 3rem;
  }
  .sideText h4,
  .blogPost h2 {
    font-size: 1.4rem;
  }
  .sideText p,
  .sideText ul {
    font-size: 0.8rem;
  }
  .blogPost p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 4.9rem;
  }
  .links h4 {
    font-size: 1.4rem;
  }
  .contactTitle {
    font-size: 2.8rem;
  }
  .blogTitle {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .homeTitle {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 2.5rem;
  }
}
html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

.blogWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
nav,
button,
.contactEmail,
.responsiveNav ul {
  font-family: "Playfair Display", serif;
  color: black;
}

nav,
h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

.homeTitle {
  font-size: 6.9rem;
  text-align: center;
}

.contactTitle,
.blogTitle {
  font-size: 4rem;
  line-height: 92px;
}

.contactEmail {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.whatIs,
.profileTitle,
.locations {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav,
.sideText ul,
.sideText p,
.responsiveNav ul {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

@media (max-width: 940px) {
  .homeTitle {
    font-size: 5.8rem;
  }
  .linksFlex p {
    font-size: 0.9rem;
  }
  .profileTitle {
    font-size: 1.9rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .contactTitle {
    font-size: 3.5rem;
  }
  .blogTitle {
    font-size: 3rem;
  }
  .sideText h4,
  .blogPost h2 {
    font-size: 1.4rem;
  }
  .sideText p,
  .sideText ul {
    font-size: 0.8rem;
  }
  .blogPost p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 4.9rem;
  }
  .links h4 {
    font-size: 1.4rem;
  }
  .contactTitle {
    font-size: 2.8rem;
  }
  .blogTitle {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .homeTitle {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 2.5rem;
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8%;
}

nav ul {
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 550px;
      flex-basis: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  margin-left: 5%;
}

nav a:hover,
nav a:focus,
nav a:focus-within {
  border-bottom: 3px solid #4ceea7;
}

nav i {
  font-size: 2.5rem;
  position: absolute;
  right: 50px;
  top: 20px;
  visibility: hidden;
}

@media (max-width: 768px) {
  nav i {
    visibility: visible;
  }
  nav ul {
    display: none;
  }
}
footer {
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
  margin: 0;
}

.contactHead {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.contactTitle {
  margin: 10%;
  padding-left: 30%;
}

.contactMain {
  background-color: #EFFDF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  padding: 50px 0;
}

.contactDetails {
  width: 50%;
  padding-top: 5%;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialMedia i {
  font-size: 1rem;
  margin-left: 30px;
}

.contactForm {
  -webkit-box-shadow: -40px 40px 0 0 #FDFA69;
          box-shadow: -40px 40px 0 0 #FDFA69;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
  width: 60%;
  height: 80%;
  position: absolute;
  top: 70%;
  right: 3%;
}

.contactForm input[type=text] {
  width: 50%;
}

.contactForm input[type=email] {
  width: 50%;
}

.contactForm .inlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contactForm input[type=text] {
  margin-right: 50px;
}

.contactForm input[type=text], .contactForm input[type=email] {
  border: none;
  border-bottom: 2px solid #4CEEA7;
  margin-bottom: 40px;
}

.contactForm textarea {
  border: 2px solid #4CEEA7;
}

.contactForm button {
  margin-top: 10px;
}

@media (max-width: 940px) {
  .contactHead {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }
  .contactTitle {
    margin: 0 auto;
    margin-left: 500px;
    padding: 0;
    padding-top: 10%;
  }
  .contactForm {
    -webkit-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    top: 550px;
    right: 0;
    left: 0;
  }
  .contactMain {
    height: auto;
  }
  .contactDetails {
    margin: 0 auto;
    margin-top: 60%;
  }
}
@media (max-width: 768px) {
  .contactTitle {
    padding-top: 20%;
    margin-left: 450px;
  }
}
@media (max-width: 480px) {
  .contactTitle {
    margin-left: 0;
    padding-right: 20%;
    padding-left: 9%;
    padding-top: 0;
  }
  .contactForm {
    height: 30%;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

.blogWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
nav,
button,
.contactEmail,
.responsiveNav ul {
  font-family: "Playfair Display", serif;
  color: black;
}

nav,
h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

.homeTitle {
  font-size: 6.9rem;
  text-align: center;
}

.contactTitle,
.blogTitle {
  font-size: 4rem;
  line-height: 92px;
}

.contactEmail {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.whatIs,
.profileTitle,
.locations {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav,
.sideText ul,
.sideText p,
.responsiveNav ul {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

@media (max-width: 940px) {
  .homeTitle {
    font-size: 5.8rem;
  }
  .linksFlex p {
    font-size: 0.9rem;
  }
  .profileTitle {
    font-size: 1.9rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .contactTitle {
    font-size: 3.5rem;
  }
  .blogTitle {
    font-size: 3rem;
  }
  .sideText h4,
  .blogPost h2 {
    font-size: 1.4rem;
  }
  .sideText p,
  .sideText ul {
    font-size: 0.8rem;
  }
  .blogPost p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 4.9rem;
  }
  .links h4 {
    font-size: 1.4rem;
  }
  .contactTitle {
    font-size: 2.8rem;
  }
  .blogTitle {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .homeTitle {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 2.5rem;
  }
}
html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

.blogWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
nav,
button,
.contactEmail,
.responsiveNav ul {
  font-family: "Playfair Display", serif;
  color: black;
}

nav,
h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

.homeTitle {
  font-size: 6.9rem;
  text-align: center;
}

.contactTitle,
.blogTitle {
  font-size: 4rem;
  line-height: 92px;
}

.contactEmail {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.whatIs,
.profileTitle,
.locations {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav,
.sideText ul,
.sideText p,
.responsiveNav ul {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

@media (max-width: 940px) {
  .homeTitle {
    font-size: 5.8rem;
  }
  .linksFlex p {
    font-size: 0.9rem;
  }
  .profileTitle {
    font-size: 1.9rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .contactTitle {
    font-size: 3.5rem;
  }
  .blogTitle {
    font-size: 3rem;
  }
  .sideText h4,
  .blogPost h2 {
    font-size: 1.4rem;
  }
  .sideText p,
  .sideText ul {
    font-size: 0.8rem;
  }
  .blogPost p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 4.9rem;
  }
  .links h4 {
    font-size: 1.4rem;
  }
  .contactTitle {
    font-size: 2.8rem;
  }
  .blogTitle {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .homeTitle {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 2.5rem;
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8%;
}

nav ul {
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 550px;
      flex-basis: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  margin-left: 5%;
}

nav a:hover,
nav a:focus,
nav a:focus-within {
  border-bottom: 3px solid #4ceea7;
}

nav i {
  font-size: 2.5rem;
  position: absolute;
  right: 50px;
  top: 20px;
  visibility: hidden;
}

@media (max-width: 768px) {
  nav i {
    visibility: visible;
  }
  nav ul {
    display: none;
  }
}
footer {
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
  margin: 0;
}

.blogHead {
  background-image: url("../assets/blog-header.jpg");
  background-size: contain;
  height: 74vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogTitle {
  line-height: 0;
  margin: 0 auto;
  margin-top: 285px;
}

.blogPic {
  height: 670px;
  width: 1060px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-box-shadow: -40px 40px 0 0 #FDFA69;
          box-shadow: -40px 40px 0 0 #FDFA69;
  position: absolute;
  right: 0;
  top: 60%;
}

.mainBlog {
  background-color: #EFFDF3;
}

.responsiveNav {
  visibility: hidden;
}

.responsiveNav ul {
  background: #4CEEA7;
  width: 100%;
}

.responsiveNav li {
  display: inline;
  width: 100%;
  padding: 100px;
}

aside {
  width: 600px;
}

.sideBar img {
  height: 100%;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: repeat(28, 100px);
  gap: 1px;
}

.sideBar {
  grid-row-start: 1;
  grid-row-end: 9;
  padding-top: 15%;
}

.sideText {
  background: white;
  height: 900px;
  width: 400px;
  padding: 30px;
  margin-left: 220px;
  padding-top: 65%;
  margin-top: -70%;
}

.sideText h4 {
  margin-bottom: 10px;
  text-align: left;
}

.sideText p {
  text-align: left;
}

.sideText .bold {
  font-weight: bold;
}

.sideText li {
  text-align: left;
}

.sideText li::before {
  content: "•";
  padding-right: 1em;
  color: #4ceea7;
}

.blogPost {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 16;
  border-left: 5px solid #FDFA69;
  border-bottom: 5px solid #FDFA69;
  padding: 45px;
}

.blogPost p {
  width: 760px;
}

.comments {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 16;
  margin-top: 50px;
}

.comments h3 {
  margin-left: 5%;
}

.Jeremy img,
.Julia img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 60px;
}

.Jeremy,
.Julia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5%;
}

.cmnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  padding: 40px;
}

.comments p {
  width: 620px;
  text-align: left;
}

.commentForm {
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 10% 10% 1% 0;
}

.commentForm form {
  width: 100%;
  margin: 0 auto;
}

.commentForm ::-webkit-input-placeholder {
  padding: 10px;
  margin: 10px;
}

.commentForm ::-moz-placeholder {
  padding: 10px;
  margin: 10px;
}

.commentForm :-ms-input-placeholder {
  padding: 10px;
  margin: 10px;
}

.commentForm ::-ms-input-placeholder {
  padding: 10px;
  margin: 10px;
}

.commentForm ::placeholder {
  padding: 10px;
  margin: 10px;
}

.commentForm input[type=text],
.commentForm input[type=email] {
  border: none;
  background-color: #effdf3;
  border-bottom: 2px solid #4CEEA7;
  margin-bottom: 5%;
  margin-left: 10px;
  width: 347px;
}

.commentForm textarea {
  border: 2px solid #4CEEA7;
  background-color: #effdf3;
  height: 10em;
  width: 100%;
}

.commentForm button {
  margin-top: 5%;
  width: 100%;
}

@media (max-width: 940px) {
  .blogHead {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }
  .blogTitle {
    padding-top: 2%;
  }
  .blogPic {
    height: 75%;
    width: 50%;
    -o-object-fit: fill;
       object-fit: fill;
    -webkit-box-shadow: none;
            box-shadow: none;
    right: 5%;
    top: 500px;
  }
  .gridContainer {
    grid-template-columns: repeat(auto-fill, 300px);
  }
  .sideText {
    grid-column-start: 1;
    grid-column-end: 3;
    background: white;
    height: 900px;
    width: 300px;
    padding: 40px;
    margin-left: 0;
    padding-top: 65%;
    margin-top: -70%;
    text-align: center;
  }
  .blogPost {
    grid-row-start: 5;
    grid-row-end: 12;
    border-left: none;
    border-bottom: 5px solid #FDFA69;
    padding: 0;
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
  }
  .comments {
    margin-top: 25%;
  }
  .commentForm {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .commentForm textarea {
    padding-right: 50px;
  }
}
@media (max-width: 768px) {
  .blogHead {
    width: 100%;
  }
  .blogTitle {
    padding-top: 10%;
  }
  .responsiveNav {
    visibility: visible;
  }
  .sideBar {
    visibility: hidden;
  }
  .blogPic {
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
  }
  .gridContainer {
    grid-template-columns: repeat(auto-fill, 150px);
    width: 100%;
  }
  .blogPost {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-end: 13;
    width: 100%;
    margin-left: 10%;
  }
  .comments {
    grid-column-start: 1;
    grid-row-start: 13;
    grid-row-end: 20;
    margin-top: 5%;
  }
  .comments .blogWrap {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .commentForm form {
    width: 100%;
    margin-left: 5%;
  }
  .commentForm button {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .gridContainer {
    grid-template-columns: repeat(auto-fill, 160px);
    grid-template-rows: repeat(28, 100px);
  }
  .blogPost {
    grid-row-end: 17;
  }
  .comments {
    grid-row-start: 18;
    margin-top: 0;
  }
  .commentForm form {
    width: 100%;
  }
}