html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

h1, h2, h3, h4, nav, button, email {
  font-family: "Playfair Display", serif;
  color: black;
}

h1, h2, h3, h4, button {
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  line-height: 92px;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

h1, h2, h3, h4, nav, button, email {
  font-family: "Playfair Display", serif;
  color: black;
}

h1, h2, h3, h4, button {
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  line-height: 92px;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

header {
  background-image: url("../assets/header-image.jpg");
  height: 100vh;
  background-size: cover;
  background-position: left;
  position: relative;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul {
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav a:hover,
nav a:focus,
nav a:focus-within {
  border-bottom: 3px solid #4ceea7;
}

h1 {
  text-transform: uppercase;
  z-index: 20;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.headerBox {
  height: 70%;
  width: 40%;
  border-left: 40px solid #FDFA69;
  border-top: 40px solid #FDFA69;
  border-bottom: 40px solid #FDFA69;
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 10;
}

#about {
  background-color: #EFFDF3;
  height: 80vh;
  padding: 10px 0;
}

.aboutText {
  padding: 200px;
  text-align: center;
}

.aboutText p {
  padding-top: 2%;
}

.info {
  position: relative;
}

.unlockPic img {
  width: 40%;
  -webkit-box-shadow: 40px 40px 0 0 #FDFA69;
          box-shadow: 40px 40px 0 0 #FDFA69;
  position: absolute;
  left: 0;
  top: -40px;
}

.unlockFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.unlockText {
  width: 50%;
  padding-top: 5%;
}

.gear {
  margin-top: 15%;
}

.gearFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gearText {
  width: 50%;
}

.gearText h3 {
  text-align: right;
}

.gearText button {
  margin-left: 70%;
  margin-top: 0;
}

.gearPic img {
  width: 40%;
  -webkit-box-shadow: -40px 40px 0 0 #FDFA69;
          box-shadow: -40px 40px 0 0 #FDFA69;
  position: absolute;
  right: 0;
  top: 60%;
}

.links {
  background-color: #EFFDF3;
  padding: 50px 0;
  margin-top: 5%;
}

.links .fas {
  font-size: 2rem;
  background-color: #4ceea7;
  padding: 15px;
  border-radius: 50%;
}

.linksFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.picks, .community, .blog, .touch {
  width: 50%;
  padding-bottom: 5%;
}

.banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.profile {
  background-color: #EFFDF3;
  padding: 100px 0;
}

.profileFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profilePic {
  width: 50%;
}

.profilePic img {
  -webkit-box-shadow: 40px 40px 0 0 #FDFA69;
          box-shadow: 40px 40px 0 0 #FDFA69;
}

.profileText {
  width: 50%;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery li {
  width: calc(100% / 3);
}

footer {
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

h1, h2, h3, h4, nav, button, email {
  font-family: "Playfair Display", serif;
  color: black;
}

h1, h2, h3, h4, button {
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  line-height: 92px;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 10px;
  border: none;
}

h1, h2, h3, h4, nav, button, email {
  font-family: "Playfair Display", serif;
  color: black;
}

h1, h2, h3, h4, button {
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  line-height: 92px;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav {
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}