html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 5px;
  border: none;
}

h1, h2, h3, h4, nav, button, email {
  font-family: "Playfair Display", serif;
  color: black;
}

h1, h2, h3, h4, button {
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  line-height: 92px;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav {
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CEEA7;
  padding: 5px;
  border: none;
}

h1, h2, h3, h4, nav, button, email {
  font-family: "Playfair Display", serif;
  color: black;
}

h1, h2, h3, h4, button {
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  line-height: 92px;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

nav {
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

header {
  background-image: url("../assets/header-image.jpg");
  height: 100vh;
  background-size: cover;
  background-position: left;
  position: relative;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav a:hover {
  border-bottom: 3px solid #4ceea7;
}

h1 {
  text-transform: uppercase;
  padding-top: 20%;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
}

.headerBox {
  height: 70%;
  width: 40%;
  border-left: 40px solid #FDFA69;
  border-top: 40px solid #FDFA69;
  border-bottom: 40px solid #FDFA69;
  position: absolute;
  right: 0;
  top: 40%;
}

#about {
  background-color: #EFFDF3;
  height: 80vh;
  padding: 10px 0;
}

.aboutText {
  padding: 200px;
  text-align: center;
}

.aboutText p {
  padding-top: 10px;
}